body{
    background-color: #F2F5C8;
}

h1 , h2{
    color: teal;
}

h3 {
    color: #219F90;
}


p {
    color: #219F96
}

p:hover{
    color: #65C18C;
}

table {
    color: green;
}